footer{
    width: 100%;
    height: 130px;
    display: grid;
    color: rgb(255, 255, 255); 
    background-color: #e3a344;
    justify-content: space-around;
    margin-top: 5%;

}
footer .redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    text-align: center;
}
footer .redes2{
    border-radius: 50%;
    width: 38px !important;
    height: 38px !important;
    margin-right: 60px;
    color: #ffffff;
    border: none;
    
}
footer .redes2:hover{
    background-color: #ffffff;
    color: #e3a344;
    border: none;
}
footer .redes2 i{
    text-align: center;
    margin-top: 5px;
}